@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Nunito Sans', sans-serif;
    font-size: 16px;
}
.con{
    max-width: 90%;
    margin: auto;
}
section{
    margin: 4rem auto !important;
}
.primary-heading{
    font-size: 2.85rem;
    font-weight: 800;
    color: #17224D;
    margin-bottom: 10px;
}
.primary-text{
    color: #515151;
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.primary-btn{
    color: #fff;
    background: #007FFF;
    border-radius: 25px;
    padding: 12px 25px;
    border: 0;
    cursor: pointer;
}
.secondary-btn{
    color: #fff;
    border: 0;
    font-size: 12px;
    font-weight: 600;
    background: #17224D;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
@media (min-width:768px) and (max-width:992px){
    .primary-heading{
        font-size: 2rem;
    }
    .primary-text{
        font-size: 1rem;
    }
}
@media (min-width:481px) and (max-width:767px){
    .primary-heading{
        font-size: 1.75rem;
    }
    .primary-text{
        font-size: 0.85rem;
    }
    .primary-btn{
        padding: 8px 15px;
    }
}
@media (max-width:480px){
    .primary-heading{
        font-size: 1.25rem;
    }
    .primary-text{
        font-size: 0.75rem;
    }
    .primary-btn{
        padding: 8px 15px;
    }
}